version: '3.3'

services:
    mysql:
        image: mysql
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: formation-symfony
        ports:
            - '5051:3306'
    phpmyadmin:
        image: phpmyadmin
        restart: always
        ports:
        - 8888:80
        environment:
        - PMA_ARBITRARY=1