{% extends 'front/base.html.twig' %}

{% block title %}LookBook - Profile de {{ user.username }}{% endblock %}

{% block content %}

<div class="left-menu-layout">
    {% include 'front/user/_seeProfilMenu.html.twig' with {
        'menu': 'profil',
        'user': user,
    } %}
    <div class="container">
        <h1>Profile de {{ user.username }}</h1>
    </div>
</div>

{% endblock %}
