{% extends 'front/base.html.twig' %}

{% block title %}LookBook - Mon Profile{% endblock %}

{% block content %}

<div class="left-menu-layout">
    {% include 'front/user/_profilMenu.html.twig' with {
        menu: 'sell_book',
    } %}
    <div class="container">
        <h1>Vendre un livre</h1>
        {{ form(form) }}
    </div>
</div>

{% endblock %}
