{% extends 'front/base.html.twig' %}

{% block title %}LookBook - Inscription{% endblock %}

{% block content %}

<div class="two-side-layout">
    <div class="container">
        <h1>Inscription</h1>
        {{ form(form) }}
    </div>
    <div class="container">
        <h2>Vous avez dèja un compte</h2>
        <a href="{{ path('app_front_user_login') }}" class="btn">
            Connéctez vous
        </a>
    </div>
</div>

{% endblock %}
